.container {
    width: 100%;
    height: auto;
    margin-top: 12px;
    background-color: #F5F5F5;
    margin-bottom: 40px;
}


.container .bannerDownImg{
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    border-radius: 32px;
    
}


.container .container1{
    width: 100%;
    position:relative;
    color: white;
}

.container1 .bannerDownImg{
    height: auto;
    width: 100%;
    display: flex;
    position: relative;
}

.container1 .figures{
    position: absolute;
    width: 100%;
    display: flex;
    bottom: 0;
    
}

.container1 .figures > .diamond{
    position: absolute;
    width: 40px;
    bottom: 272px;
    padding-left: 47px;
    padding-top: 71px;
}

.container1 .figures > .triangle{
    position: absolute;
    width: 133px;
    bottom: -72.25px;
    padding-left: 70px;
    padding-top: 321px;
    
}


.container1 .figures > .circle{
    position: absolute;
    bottom: 115px;
    padding-left: 506px;
    padding-top: 50%;
}

.container1 .figures > .ball{
    position: absolute;
    bottom: 321px;
    padding-left: 558px;
    padding-top: -21px;
}

.container1 .figures > .smallball1{
    position: absolute;
    bottom: 20px;
    padding-left: 672px;
    padding-top: 329px;
}

.container1 .figures > .smallball2{
    position: absolute;
    width: 71px;
    height: 71px;
    bottom: 81px;
    padding-left: 1231px;
    padding-top: 235px;
}

.container .figures > .aplicaciones{
    position: absolute;
    width: 460px;
    bottom: 214px;
    padding-left: 115px;
    top: -311px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.container .figures > .aplicaciones .span1{
    font-size: 24px;
    font-weight: 700;
}

.container .figures > .aplicaciones .span2{
    font-size: 14px;
    width: 192px;
}

.container .figures > .aplicaciones .span3{
    display: flex;
    gap:8px;
    z-index: 550;
    
    
}
.container .bannerDownImg2{
    display: none;    
}

@media (max-width: 768px) {
    .container .bannerDownImg{
        display: none;
    }
    
    .container .bannerDownImg2{
        
        width: 100%;
        height: 100%;
        display: flex;
        position: relative;
        border-radius: 32px;
    }
    .container .figures > .aplicaciones{
        position: absolute;
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
        padding: 0 10px;
        /* padding-left: 115px; */
        top: -430px;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .container .figures > .aplicaciones .span1{
        text-align: center;
        width: 300px;
        font-size: 16px;
        font-weight: 700;
    }
    
    .container .figures > .aplicaciones .span2{
        text-align: center;
        font-size: 12px;
        width: 192px;
    }
    
    .container .figures > .aplicaciones .span3{
        display: flex;
        gap:8px;
        z-index: 550;
        
        
    }
    .container1 .figures > .diamond img{
        position: absolute;
        padding: 0;
        transform: translate(310px,-150px);
    }

    .container1 .figures > .triangle img{
        position: absolute;
        width: 72.86px;
        transform: translate(-130%,-450%);
        padding: 0;
        
    }
    .container1 .figures > .circle img{
        position: absolute;
        width: 97px;
        padding: 0;
        transform: translate(-580%, -360%);
    }

    .container1 .figures > .ball img{
        position: absolute;
        width: 87px;
        padding: 0;
        transform: translate(-280%,300%);
        overflow: hidden;
    }
    .container1 .figures > .smallball1{
        display: none;
    }
    
    .container1 .figures > .smallball2{
        display: none;
    }
  }