.container {
    width: 100%;
    height: auto;
    margin-top: 16px;
    background-color: #F5F5F5;

}

.containerBanner {
    width: 100%;

}

.carousel {
    margin-top: 16px;
}

.carousel-inner {
    border-radius: 16px;
}

.movilView {
    display: none;
}

.carousel-item img {
    width: 100vw;
    height: auto;
}

.carousel-caption {
    position: absolute;
    bottom: 50%;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #ffff;
    text-align: start;
    max-width: 321px;
    height: 104px;
    font-style: normal;
    font-weight: 700;


}

.carousel-caption-header {
    font-size: 40px;

}

.carousel-caption-text {
    color: yellow;
    font-size: 14px;
    font-weight: 400;
}

.containerCategoriasBanner {
    width: 100%;
    height: auto;
    margin-top: 32px;
    display: flex;
    overflow-x: scroll;

}

.containerCategoriasBanner>.categoriaCards {
    width: 322px;
    height: 108px;
    background-color: #ffff;
    display: flex;
    margin-left: 24px;
    text-decoration: none;
    color: black;
    border-radius: 16px;
    justify-content: space-around;
    align-items: center;
}

.containerCategoriasBanner>.categoriaCards1 {
    width: 322px;
    height: 108px;
    background-color: #ffff;
    display: flex;

    text-decoration: none;
    color: black;
    border-radius: 16px;
    justify-content: space-around;
    align-items: center;
}

.Categoriaimg {

    display: flex;
    align-items: center;
    border-radius: 50%;
    width: 25%;
    height: 80px;
    background: linear-gradient(53.67deg, rgba(231, 88, 102, 0.16) 14.34%, rgba(177, 91, 233, 0.16) 85.09%), #FFFFFF;
}

.span_flecha {
    display: flex;
    justify-content: space-between;
    width: 50%;
    height: 80px;
    margin-left: 14px;
    align-items: center;
}

.textCategoria {
    width: 100px;
    height: 80px;
    display: flex;
    align-items: center;
    margin: 0;
}

.banner_1 {
    border-radius: 16px;
}

.banner_res_2 {
    display: none;
}


@media (max-width: 768px) {
    .banner_1 {
        display: none;
    }

    .banner_res_2 {
        display: block;
        border-radius: 16px;
    }

    .carousel-inner {
        border-radius: 16px;
    }

    .carousel-item img {
        width: 100vw;
        height: 195px;
        z-index: 540;
        border-radius: 16px;
    }


    .movilView{
        display: block;
    }

    .desktopView{
        display: none;
    }
    
    .carousel-caption {
        display: block !important;
        position: absolute;
        /* bottom:-100px;
        left: 100px; */
        /* padding-top: 1.25rem;
        padding-bottom: 1.25rem; */
        top: 15%;
        color: #ffff;
        /* text-align: start; */
        /* width: 124px;
        height: 42px;
        font-style: normal;
        font-weight: 700;
        z-index: 550; */
        width: 125px;


    }

    .carousel-caption-header {
        font-size: 16px;


    }

    .carousel-caption-text {
        color: yellow;
        font-size: 10px;
        font-weight: 400;
    }

    .carousel-control-prev,
    .carousel-control-next,
    .carousel-indicators {
        opacity: 0.1;
    }
}