.container{
    width: 100%;
    height: auto;
    margin-top: 48px;
    background-color: #F5F5F5;
      
}



.nameCategory{
    font-size: 20px;
    font-weight: 700;
    color: #74737B;
    margin-bottom: 32px;
}

.categoriesCard{
    border-radius: 16px;
    justify-content: center;
    
}

.categoriesCard ul{
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px;
    gap: 48px;
    list-style: none;
    cursor: pointer;
}

.categoriesCard ul a{
    text-decoration: none;
    color: black;
}

/* menus  */
.dropdown {
    position: relative;
}

.dropdown > button {
    position: relative;
    z-index: 550;
}

.dropdown button {
    display: flex;
    align-items: center;
    gap: 10px;
    padding:  0 16px;
    height: 64px;
    width: 100%;
    border-radius: 6px;
    color: black;
    background-color: white;
    border: 0;
    cursor: pointer;
    font-size: 18px;

}

.dropdown button:hover{
    background:#FC5241;
}

.menu:before {
    content: "";
    background: inherit;
    border-top: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
    position: absolute;
    /* top: -2px; */
    left: 22px;
    width: 12px;
    height: 12px;
    rotate: -45deg;
}

.dropdown .menu{
    position: absolute;
    /* overflow: hidden; */
    z-index: 449;
    top: 90px;
    left: 0;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    translate: 0 -20px;
    transition: 0.4s;
    font-size: 14px;
}

.dropdown .menu button {
    height: 56px;
    width: 100%;
    border-radius: 0;
}

.dropdown.open > button {
    background:#FC5241;
}

.dropdown.open .menu{
    opacity: 1;
    width: 164px;
    visibility: visible;
    translate: 0;
}

.dropdown:hover .menu {
    opacity: 1;
    top: 110px;
    width: 164px;
    visibility: visible;
}


/* Menu Precio  */
.menu2:before {
    content: "";
    background: inherit;
    border-top: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
    position: absolute;
    top: -6px;
    left: 22px;
    width: 12px;
    height: 12px;
    rotate: -45deg;
}

.dropdown.open .menu2{
    opacity: 1;
    width: 330px;
    visibility: visible;
    translate: 0;
    
}

.dropdown .menu2{
    position: absolute;
    /* overflow: hidden; */
    z-index: 449;
    top: 80px;
    left: 0;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    translate: 0 -20px;
    transition: 0.4s;
    font-size: 14px;
}

.dropdown .menu2 button {
    height: 56px;
    width: 100%;
    border-radius: 0;
}


.dropdown:hover .menu2 {
    opacity: 1;
    top: 110px;
    width: 330px;
    visibility: visible;
    
}

.dropdown .menu2 .containerPersonalizado {
    display: block;
    align-items: center;
    gap: 10px;
    padding:  16px 16px;
    height: auto;
    border-radius: 6px;
    color: black;
    background-color: white;
    border: 0;
    cursor: pointer;
    font-size: 18px;
    

}

.dropdown .menu2 .containerPrecios{
    display: flex;
    align-items: center;
    gap: 10px;
    padding:  0 16px;
    height: auto;
    border-radius: 6px;
    color: black;
    background-color: white;
    border: 0;
    cursor: pointer;
    font-size: 18px;
    margin-bottom: 10px;
}

.dropdown > .menu2 > .containerPersonalizado{
    position: relative;
    z-index: 550;
}

.containerPrecios > .desde > input,
.containerPrecios > .hasta > input{
    width: 124px;
    height: 45px;
    border: 1px solid rgba(162, 161, 167, 0.16);
    border-radius: 15px;
}

.containerPersonalizado > .btnAplicar{
    background-color: #FC5241;
    color: white;
    justify-content: center;
    text-align: center;
}

.dropdown .menu2 button {
    height: 56px;
    width: 100%;
    border-radius: 32px;
}

/* Menu Ordenar Por  */

.menu3:before {
    content: "";
    background: inherit;
    border-top: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
    position: absolute;
    top: -6px;
    left: 22px;
    width: 12px;
    height: 12px;
    rotate: -45deg;
}

.dropdown.open .menu3{
    opacity: 1;
    width: 250px;
    visibility: visible;
    translate: 0;
    
}

.dropdown .menu3{
    position: absolute;
    /* overflow: hidden; */
    z-index: 449;
    top: 80px;
    left: 0;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    translate: 0 -20px;
    transition: 0.4s;
    font-size: 14px;
}

.dropdown .menu3 .containerPersonalizado2 {
    display: block;
    align-items: center;
    gap: 10px;
    padding:  16px 16px;
    height: auto;
    border-radius: 6px;
    color: black;
    background-color: white;
    border: 0;
    cursor: pointer;
    font-size: 18px;
    

}

.dropdown:hover .menu3 {
    opacity: 1;
    top: 110px;
    width:250px;
    visibility: visible;
    
}

.containerPersonalizado2 h5{
    font-size: 14px;
    color: #A2A1A7;
}
.containerPersonalizado2 h6{
    font-size: 16px;
}

input[type="radio"]:checked {
    background-color:#FC5241;
    border-color: #e1e1e1;
  }

  .containerHeaderResponsiveCategorie{
    display: none;
  }

 

@media (max-width: 768px) {
    .containerHeaderFull{
        display: none;
    }

    .categoriesCard ul {
        display: flex;
        justify-content: space-around;
    }

    .containerHeaderResponsiveCategorie{
        display: block;
    }

    .modal-content{
        width: 100vw;
    }

    .modal-bottom {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: auto;
        margin: 0;
        background-color: #e1e1e1;
        z-index: 600;
      }

    .containerModalMarca{
        display: flex;
        flex-direction: column;
        padding: 24px;
      }

    .containerModalMarca .opcion{
        display: flex;
        justify-content: start;
        width: 100%;
        text-align: start;
    }
    .containerModalMarca .opcion span{
        margin-left: 8px;
    }
    .modal-body{
        justify-content: center;
    }

    .modal-body h4{
        text-align: center;
    }
    .modal-body .btnFilter{
        display: flex;
        border-radius: 32px;
        width: 327px;
        height: 48px;
        padding: 16px;
        align-self: center;
        align-items: center;
        justify-content: center;
        color: white;
        background-color: #FC5241;
        border: none;
        margin-top: 16px;

    }

    /* modalPrecio */
    .menu2 .containerPersonalizado{
        display: block;
        padding: 24px;
        
    }

    .menu2 .containerPrecios{
        display: flex;
        justify-content: center;
    }

    .menu2 .desde,
    .menu2 .hasta{
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-items: center;
    }

    .containerModalOrdenar{
        padding: 24px;
    }

    .containerModalOrdenar .form-select{
        height: 60px;
        border-radius: 32px;
    }

    .filterSelected{
        display: block;
        padding-left: 24px;
    }

    .filterSelected .containerMarca,
    .filterSelected .containerPrecio,
    .filterSelected .containerOrdenar{
        display: flex;
        gap: 25px;
    }

    .filterSelected .titleFilter {
        color: #A2A1A7;
    }
    /* .menu2 .containerPersonalizado > .btnAplicar{
        background-color: #FC5241;
        color: white;
        justify-content: center;
        align-items: center;
    } */
}

