nav {
    width: 100%;
    height: 80px;
    background-color: #f7f7f7;
    border: 2px solid #e3e2e2;
    display: inline-block;
    align-items: center;
    /* justify-content: center; */
}

.containerResponsive {
    display: none;
}

.offcanvas-body .pers{
    width: 196px;
    height: 72px;
    display: flex;
    align-items: center;
}

.offcanvas-body li a {
    text-decoration: none;
    color: black;
}

.btnsPers{
    display: none;
}

.btnPersonalizadosL {
    width: 240px;
    height:40px;
    background-color: #FC5241;
    color: white !important;
    border-radius: 32px;
}

.btnPersonalizadosR{
    width: 240px;
    height:40px;
    border: 1px solid #FC5241;
    color: #FC5241 !important;
    border-radius: 32px;
}

.offcanvas-body ul li{
    list-style: none;
}





@media (max-width: 768px) {
    nav {
        width: 100vw;
        height: 80px;
        background-color: #f7f7f7;
        border: 2px solid #e3e2e2;
        display: flex;
        align-items: center;
        flex-direction: row;

        /* justify-content: center; */
    }

    .searchContainer{
        width: 40%;
    }

    
    .input-icon{
        display: none;
    }

    .containerResponsive {
        width: 100vw;
        /* justify-content: space-between; */
        align-items: center;
        display:flex;
        flex-direction: row;
        

    }
    
    a .navbar-brand{
        margin-right: 0px;
        
    }

    .btnsPers{
        display: grid;
        gap: 20px;
        justify-content: center;
        text-align: center;
        
    }
    .modal-content{
        width: 96vw;
        
    }
    

      
    
  }