@media (max-width: 768px) {
  .form-group {
    margin-bottom: 10px;
  }

  .btn {
    height: 40px;
    margin-bottom: 10px;
  }
}

/* Estilos específicos solo para Mozilla Firefox */
@-moz-document url-prefix() {
  .btnsLogin{
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  /* Puedes agregar más reglas específicas de Firefox aquí */
}