.containerMenuAndContenidoMisOrdenes {
    display: flex;
    flex-direction: row;
    gap: 90px;
    margin-top: 30px;
}

.containerMenuAndContenidoMisOrdenes .menuMisOrdenes {
    width: 24%;

}

.containerMenuAndContenidoMisOrdenes .menuMisOrdenes ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
}

.containerMenuAndContenidoMisOrdenes .menuMisOrdenes .opcion {
    list-style: none;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: start;
    align-items: center;
    align-self: center;
    border: 1px solid #A2A1A729;
    border-radius: 16px;
    padding: 16px;
    cursor: pointer;

}

/* .containerMenuAndContenidoMisOrdenes .menuMisOrdenes .opcion:active, */
.containerMenuAndContenidoMisOrdenes .menuMisOrdenes .opcion.active {
    color: white;
    background-color: #FC5241;
    border: none;
}

.containerMenuAndContenidoMisOrdenes .menuMisOrdenes .opcion.active .img_opcion path {
    fill: white;


}

.containerMenuAndContenidoMisOrdenes .menuMisOrdenes .opcion a {
    text-decoration: none;
    color: inherit;
}

.containerMenuAndContenidoMisOrdenes .contenidoMisOrdenes {
    width: 76%;
}



/* Mis pedidos */
.contenidoMisOrdenes .mispedidos .table thead tr th {
    color: #A2A1A7;
    font-size: 12px;
}

.contenidoMisOrdenes .mispedidos .table tbody tr td {
    font-size: 14px;

}

.contenidoMisOrdenes .mispedidos .table tbody tr td .opcionesDetallePedido {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.contenidoMisOrdenes .mispedidos .table tbody tr .opcionesDetallePedido .btnVerDetallesPedido {
    display: flex;
    flex-direction: row;
    gap: 5px;
    width: 70px;
    height: 24px;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    background-color: #FC5241;
    color: white;
}

.contenidoMisOrdenes .mispedidos .table tbody tr .opcionesDetallePedido .btnCancelarPedido {
    display: flex;
    flex-direction: row;
    gap: 5px;
    width: 100px;
    height: 24px;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    border: 1px solid #FC5241;
    color: #FC5241;

}

/* Detail Pedido */
.containerDetalleAndCard {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.containerPedidoIzq {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 70%;
}

.datosPrincipales,
.direccionesPedido {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.datosPrincipales .fechaPedido h6,
.datosPrincipales .nroPedido h6,
.direccionesPedido .direccionEnv h6,
.direccionesPedido .direccionCompra h6 {
    font-size: 12px;
    color: #A2A1A7;
}

.datosPrincipales .fechaPedido {
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: end;
}

.containerPedidoIzq .direccionesPedido .direccionCompra {
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: end;
}

.containerCardDatos {
    width: 30%;
}

.productoDetail {
    display: flex;
    flex-direction: row;
    gap: 15px;
    border: 1px solid #A2A1A729;
    align-items: center;
    padding: 16px;
    border-radius: 24px;
}

.productoDetail .description {
    display: flex;
    flex-direction: column;


}

.productoDetail .description h6 {
    font-size: 24px;
    color: #A2A1A7;
}

.containerCardDatos {
    display: flex;
    flex-direction: column;
    width: 50%;

}

.containerCardDatos .card {
    padding: 16px;
}

.containerCardDatos .articulosPedidos,
.containerCardDatos .subtotal,
.containerCardDatos .impuesto,
.containerCardDatos .Envio,
.containerCardDatos .descuentoProducto,
.containerCardDatos .cuponDescuento {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.containerCardDatos .totalAPagar {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.containerCardDatos .totalAPagar h6 {
    font-size: 14px;
    color: #74737B;
}

.containerCardDatos .totalAPagar h5 {
    font-size: 32px;
    font-weight: 700;
}

.opcionesRastreoOrFacturar {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 15px;

}

.opcionesRastreoOrFacturar .rastrear {
    color: white;
    background-color: #FC5241;
    border-radius: 32px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-self: center;
    width: 100%;
    text-align: center;
    justify-content: center;
}

.opcionesRastreoOrFacturar .facturar {
    color: #FC5241;
    border: 1px solid #FC5241;
    border-radius: 32px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-self: center;
    text-align: center;
    justify-content: center;
    width: 100%;
}

/* Lista de deseos */
.listaDeDeseos {
    width: 100%;
    height: 100%;

}

/* Informacion de perfil */
.infoPerfil {
    width: 100%;
    height: 100%;
}

.infoPerfil .card {
    width: 350px;
    padding: 24px;
    border-radius: 32px;
}

.infoPerfil .card .headerInfoProfile {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}


/* Direcciones de perfil */
.direccionPerfil {
    width: 100%;
    height: 100%;
}

.direccionPerfil .containerDireccionesPerfil {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;

}

.direccionPerfil .containerDireccionesPerfil .card {
    width: 45%;
    height: 254px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 24px;

}

.direccionPerfil .containerDireccionesPerfil .containerAddNewDireccion {
    width: 45%;
    background-color: #A2A1A729;
    margin: 0;
    padding: 0;
    justify-content: center;
    display: flex;
    text-align: center;
}

.direccionPerfil .containerDireccionesPerfil .containerAddNewDireccion a {
    text-decoration: none;
    color: white;
    background-color: #FC5241;
    padding: 12px;
    border-radius: 32px;
}

.direccionPerfil .containerDireccionesPerfil .card .headerTipoDireccion {
    font-size: 12px;
    color: #FC5241;
}

.direccionPerfil .containerDireccionesPerfil .card .infoDireccionPerfil .info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    gap: 50px;
}

.direccionPerfil .containerDireccionesPerfil .card .infoDireccionPerfil .info .fragmento {
    text-align: start;
    width: 50%;
}

.direccionPerfil .containerDireccionesPerfil .card .infoDireccionPerfil .info .fragmento h5 {
    font-size: 12px;
    font-weight: 700;
}

.direccionPerfil .containerDireccionesPerfil .card .infoDireccionPerfil .info .fragmento p {
    font-size: 14px;
}

.direccionPerfil .containerDireccionesPerfil .card .opcionesDireccionesPerfil {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.direccionPerfil .containerDireccionesPerfil .card .opcionesDireccionesPerfil a {
    text-decoration: none;
}

.direccionPerfil .containerDireccionesPerfil .card .opcionesDireccionesPerfil .btn1 {
    color: #45444F;
    padding: 12px;
    display: flex;
    gap: 10px;
}

.direccionPerfil .containerDireccionesPerfil .card .opcionesDireccionesPerfil .btn2 {
    color: white;
    background-color: #FC5241;
    border-radius: 32px;
    padding: 10px;
    display: flex;
    gap: 10px;
    align-self: center;
    justify-content: center;
    align-items: center;
}

/* Ticket support */
.contenidoMisOrdenes .ticketSoporte .table thead tr th {
    color: #A2A1A7;
    font-size: 12px;
}

.contenidoMisOrdenes .ticketSoporte .table tbody tr td {
    font-size: 14px;

}

.contenidoMisOrdenes .ticketSoporte .table tbody tr td .opcionesDetallePedido {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.contenidoMisOrdenes .ticketSoporte .table tbody tr .opcionesDetallePedido .btnVerDetallesPedido {
    display: flex;
    flex-direction: row;
    gap: 5px;
    width: 70px;
    height: 24px;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    background-color: #FC5241;
    color: white;
}

.contenidoMisOrdenes .ticketSoporte .table tbody tr .opcionesDetallePedido .btnCancelarPedido {
    display: flex;
    flex-direction: row;
    gap: 5px;
    width: 100px;
    height: 24px;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    border: 1px solid #FC5241;
    color: #FC5241;

}