/* .custom-navbar {
  background-color: gray;
}

.custom-navbar .navbar-brand {
  margin-right: 50px;
  height: 60px;
  display: flex;
  align-items: center;
}

.nvbar-brand .logo img{
  width: 100px;
  height: auto;
  margin-right: 10px;
  
}

/* .custom-navbar .navbar-brand img {
  /* max-height: 100%; */
  /* max-width: 300px;
  margin-right: 10px; */
/* } */


/* .custom-navbar .form-inline {
  display: flex;
  align-items: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.custom-navbar .form-control {
  width: 100%;
}

.custom-navbar .nav-link {
  color: white !important;
} */

/* .custom-navbar .navbar-text {
  color: white !important;
} */ 

nav {
  width: 100%;
  height: 80px;
  background-color: #f7f7f7;
  border: 2px solid #e3e2e2;
  display: inline-block;
  align-items: center;
  /* justify-content: center; */
}

nav .containerNav{
  width: 100%;
  justify-content: space-around;
  align-items: center;
  display:flex;
  
  
}

.input-icon {
  /* position: absolute; */
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.375rem 0.75rem;
  pointer-events: none;
}

.userInteraction {
  display: flex;
  align-items: center;
  
}
.userInteraction a svg {
  margin-left: 25px;
}

.dropdown {
  position: relative;
  cursor: pointer;
}

.dropdown > a {
  display:flex;
  align-items: center;
  gap: 2px;
  height: 72px;
}



.dropdown:hover .menu {
  opacity: 1;
  visibility: visible;
  
}

.menu > a {
  font-size: 14px;
  padding: 12px 20px;
  text-align: justify;
  text-decoration: none;
  color: black;

}

.menu > a:hover {
  /* background: #f5f5f5; */
  background: #F3F3F3;
}

.menu {
  position:absolute;
  top: 60px;
  right: -20px;
  display: grid;
  width: 180px;
  padding: 8px 0;
  background: #ffffff;
  border-radius: 10px;
  border: 1px solid #e1e1e1;
  box-shadow: 0 40px 40px rgb(0 0 0/ 6%);
  opacity: 0;
  visibility: hidden;
  transition: 0.25s;
  z-index: 999;
}

.menu:before{
  content: "";
  background: inherit;
  border-top: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1;
  position: absolute;
  top: -7px;
  right: 22px;
  width: 12px;
  height: 12px;
  rotate: -45deg;
  
}

.dropdown:hover svg path{
  fill: #FC5241;
  
}

.containerHeader > .dropdown:hover > .option  {
  color: #FC5241;
}

 nav .containerHeader {
  width: 100%;
  height: 48px;
  justify-content: center;
  align-items: center;
  display:flex;
  background-color: #f7f7f7;
  margin-top: 7px;
  gap: 83px;
  z-index: 999;
  
}

nav .containerHeader a {
  text-decoration: none;
  color: black;
  font-size: 14px;
}

.menuCategorias{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 40px;
  gap: 48px;

  position: absolute;
  width: 944px;
  height: auto;
  text-decoration: none;
  /* left: 280px;
  top: 144px; */

  background: #F3F3F3;
/* Text 10 - 16% */

  border-radius: 10px;
  border: 1px solid #e1e1e1;
  box-shadow: 0 40px 40px rgb(0 0 0/ 6%);
  opacity: 0;
  visibility: hidden;
  transition: 0.25s;
  z-index: 999;
}

.menuCategorias:before{
  content: "";
  background: inherit;
  border-top: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1;
  position: absolute;
  top: -7px;
  left: 22px;
  width: 12px;
  height: 12px;
  rotate: -45deg;
}

.menuCategorias .column {
  width: 30%;
}

.menuCategorias > .column ul li {
  list-style: none;
}

.dropdown:hover .menuCategorias {
  opacity: 1;
  visibility: visible;
  
}


/* footer  */

footer {
  width: 100vw;
  height: 472px;
  align-items: center;
  justify-content: center;
  display: flex;
} 

footer > .containerFooter{
  
  
  width: 70%;
  height: 472px;
  align-items: center;
  justify-content: center;
  display: block;
  
  
}

footer .containerFooter .row {
  /* border: 1px solid gray;รง */
  padding: 30px;
  border-bottom: 1px solid rgb(219, 219, 219);
  
 
  /* width: 80%; */
  /* display: inline-block; */
  /* text-align: center; */
  
}

.derPagos{
  opacity: 0.5;
}


.izqIconsMedia{
  padding: 10px;
  color: #a2a1a7;
}

.derApps img{
 margin-left: 8px;
}

.izqIconsMedia svg {
  margin-left: 10px;
}

.footerLogo{
  display: flex;
  justify-content: space-between;
  
}

.rowf{
  display: flex;
  padding: 20px;
  justify-content: space-between;
  
  
}

.rowf > ul  {
  list-style: none;
  
  
}

.rowf  ul  li {
  color: #a2a1a7;
  
}

.rowf ul a { 
  text-decoration: none;
}


@media (max-width: 768px) {
  nav .containerNav {
    display: none;
    
  }

  nav .containerHeader {
    display: none;
  }

  .offcanvas.show {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    overflow: hidden;
    
  }
  .offcanvas-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--bs-offcanvas-padding-y) var(--bs-offcanvas-padding-x);
    
  }
  footer {
    width: 100vw;
    height: 472px;
    align-items: center;
    justify-content: center;
    display: flex;
  } 

  footer > .containerFooter{
  
  
    width: 100vw;
    height: 472px;
    align-items: center;
    justify-content: center;
    display: block;
    
    
  }

  .row {
    display: flex;
    flex-direction: column;
    align-items: center; /* Para centrar los elementos horizontalmente */
  }
  
  .footerLogo {
    display: inline-block;
    flex-direction: row;
    justify-content: space-between; /* Para distribuir los logos de forma equitativa */
    align-items: center; /* Para centrar los elementos verticalmente */
    width: 100%;
    padding: 30px;
    border-bottom: 1px solid rgb(219, 219, 219);
  }
  
  .izq {
    display: flex;
    align-items: center; /* Para centrar el logo verticalmente */
  }
  
  .derPagos {
    display: flex;
    flex-wrap: wrap; /* Para que los logos se distribuyan en varias filas si es necesario */
    justify-content: center; /* Para centrar los logos horizontalmente */
  }
}