.container{
    width: 100%;
    height: auto;
    margin-top: 48px;
    background-color: #F5F5F5;
    margin-bottom: 32px;
      
}

.containerProductsIndex{
    display: flex;
    
}

.containerProducts{
    padding: 10px;
    height: 100%;
    margin-bottom: 10px;
    
}

.containerProductos{
    overflow-y: hidden;
    
}

.containerProductsIndex .menuBusqueda{
    display: block;
    width: 60%;
    
}

.containerProductsIndex .menuBusqueda .filtros{
    display: flex;
    
}

.containerProductsIndex .menuBusqueda .filtros input{
    margin-right: 5px;
}

.containerProductos{
    overflow-x: hidden;
}

.containerProductos a {
    text-decoration: none;
    
}

.containerCard2{
    width: 198px;
    height: 320px;
}



input[type="radio"]:checked {
    background-color:#FC5241;
    border-color: #e1e1e1;
  }

@media (max-width: 768px) {
    
    /* .containerProductCategorie{
        display: none;
    } */
    .containerProductsIndex{
        display: flex;
        flex-direction: column;
    }
    .containerProductsIndex > .menuBusqueda{
        display: none;
    }

    .containerProductCategorie .containerProductos{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        
        
    }

    .containerProductCategorie .containerCard2 {
        width: calc(50% - 10px);
        /* max-width: 300px; */
        /* width: 200px; */
        margin-bottom: 20px;
      }
}