:root {
  --placeholder-icon-nombre: url('../../assets/egoi_icons/user-1.svg');
  --placeholder-icon-apellido: url('../../assets/egoi_icons/user-1.svg');
  --placeholder-icon-email: url('../../assets/egoi_icons/letter.svg');
  --placeholder-icon-contraseña: url('../../assets/egoi_icons/lock.svg');
  --placeholder-icon-confirmarContraseña: url('../../assets/egoi_icons/lock.svg');

}

input::placeholder {
  padding-left: 30px;
  /* Espacio para el icono */
  /* background-image: var(--placeholder-icon-nombre); */
  background-repeat: no-repeat;
  background-size: 23px 23px; /* Tamaño del icono */
  background-position: 5px center; /* Posición del icono */
}

input[placeholder="Nombre"]::placeholder {
  background-image: var(--placeholder-icon-nombre);
}

input[placeholder="Apellido"]::placeholder {
  background-image: var(--placeholder-icon-apellido);
}
input[placeholder="Email"]::placeholder {
  background-image: var(--placeholder-icon-email);
}
input[placeholder="Contraseña"]::placeholder {
  background-image: var(--placeholder-icon-contraseña);
}
input[placeholder="Confirmar contraseña"]::placeholder {
  background-image: var(--placeholder-icon-confirmarContraseña);
}