
.terms-container {
    margin: 50px auto;
    max-width: 700px;
    text-align: justify;
  }
  
  .terms-container h1 {
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .terms-text {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
  }

  ul li {
    text-indent: 0em;
    text-align: justify;
  }
  